body {
    background-color: lightgray;
}

h1 {
    
    font-family: 'Poppins', sans-serif;
    font-size:3vw;
    color:grey;
    text-align: left;
}

small {
    
    font-family: 'Poppins', sans-serif;
    font-size:1vw;
    color:grey;
}  


li {
    font-family: 'Poppins', sans-serif;
    font-size:1vw;
    color:grey;
}

nav {
    background-color: darkgrey;
}