<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="/errorpages/error403.html" responseMode="ExecuteURL" />
        </httpErrors>

    </system.webServer>
</configuration>
